[project]
name = "udi-grammar-py"
version = "0.2.5"
description = "A python library for creating udi-grammar specifications"
readme = "README.md"
authors = [
    { name = "Devin Lange", email = "devinscottlange@gmail.com" }
]
requires-python = ">=3.8"
license = { text = "MIT" }
classifiers = [
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3 :: Only",
]
dependencies = [
    "pytest>=8.3.5",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"


[project.urls]
Homepage = "https://github.com/hms-dbmi/udi-grammar-py"
