div.reveal {
  width: 100%;
  aspect-ratio: 16 / 9;
}

html.reveal-print .reveal {
   aspect-ratio: unset;
}

/* column layout */
.container{
    display: flex;
}
.col{
    flex: 1;
}

.reveal pre code {
    padding: 1em;
}
