a {
    color: unset;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 150%;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 8px;
}

header {
    text-align: center;
}

h1 {
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
}

footer {
    border-top: 1px solid #ddd;
    font-size: 0.7em;
    margin: 20px;
    text-align: center;
}

footer span {
    opacity: 0.6;
}

form {
    margin: 20px 0;
}

input {
    flex: 1;
    font-family: "SFMono-Regular", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 0.8em;
    text-align: center;
}

button {
    flex: 0;
    padding: .5em;
    vertical-align: middle;
}

ul {
    margin: 4px 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.badge-url {
    background-color: #eee;
    border: 0;
    field-sizing: content;
    flex: 1;
    font-family: "SFMono-Regular", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 0.5em;
    letter-spacing: 0.04em;
    padding: 0.5em 4px;
    resize: none;
}

.badge-url:focus {
    outline: none;
}

#results {
    border-top: 1px solid #ddd;
    display: none;
    margin-top: 20px;
    text-align: center;
}

#project-name {
    border-top: 1px solid #ddd;
    padding: 20px;
    font-weight: 700;
}
